* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  height: 100vh;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#home-menu {
  padding-top: 2vh;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 98vh;
  background-color: black;
  color: #BC002D;
  writing-mode: vertical-lr;      /* make text vertical */
  text-orientation: upright;     /* keep characters upright (good for latin letters) */
  display: inline-block;         /* shrink to content so centering works */
  line-height: 1.2;        
  font-size: 1.25rem;      /* adjust spacing between characters/lines */
}

#about {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.276);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  p {
    line-height: 1.5;
    font-size: x-large;
    width: 80%;
  }
}

#photos {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  gap: 0;
  background-color: black;
  color: white;
}

#photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
